# Copy to .env and fill in your values. Do not commit .env.
JIRA_BASE_URL=https://ozone.atlassian.net
JIRA_EMAIL=atanas.m.ignatov@mail.bg
JIRA_TOKEN=ATATT3xFfGF0WYlJT5EeTNP2XqbQWxWe6h8x70Lvpn8oXVBrc9mFDBIAX-yWyWN0bKB8BBMXm5k78ulOpy7ApE1dnqupRJuVWbZA3LUL1sXxOMfqIHhbWWyGvbByB4n9R0Zez38zyVqiFOlCjba2S5o4XZc7fvycuA9c3E1MU8qVGMlQHI0VwWQ=3C72038C