# Copy to .env and fill in your values. Do not commit .env.
JIRA_BASE_URL=https://ozone.atlassian.net
JIRA_EMAIL=atanas.m.ignatov@mail.bg
JIRA_TOKEN=ATATT3xFfGF0AYOJi_HFqAcO0t20FBuNYPCYhW0yIfgxRODVzCdZtcFnzqv-UbJxbrf0EjpkryXEsK0dWOmYHqLuK1UjsIMhDPYhEdDU4UNueDcSACLC44asPW6cQs6QPyxuHbXj3yGi5_ORHBrIkfdD876WAwmDdu_BbiNjhLKFbkGKR1bnQXA=99819F10
